@page "/mainpage"
@using CLUBOYSTER.Data
@inject IJSRuntime jsRun;
@inject NavigationManager navMan

@inject UserService userService;


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Club Oyster</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body style="background-color:black">
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand fw-bold fs-2">CLUB OYSTER</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item fw-bold"><a class="nav-link" href="/mainpage" aria-current="page">Главная страница</a></li>
                        <li class="nav-item fw-bold"><a class="nav-link" href="/profile">Профиль</a></li>
                                            <li class="nav-item fw-bold"><a class="nav-link" href="/about">О нас</a></li>
                        <li class="nav-item fw-bold"><a class="nav-link" @onclick="Logout" style="cursor:pointer">Выход</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style="background-image: url('https://celes.club/uploads/posts/2022-11/1667291669_20-celes-club-p-fon-v-klube-pinterest-20.jpg')">
            <div class="text-center my-5">
                <img class="img-fluid rounded-circle mb-4" style="width:350px; height:auto" src="css/Images/FinalLogo-transformed.png" alt="..." />
                <h1 class="text-white fs-3 fw-bolder">Отдых со вкусом.</h1>

            </div>
        </header>
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2 class="text-white">Самый престижный клуб в городе.</h2>
                        <p class="lead text-white">Огромный ассортимент напитков, танцевальная зона, хайповая музыка и еще многое другое</p>
                        <p class="mb-0 text-white"></p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Image element - set the background image for the header in the line below-->
        <div class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/4ulffa6qoKA/1200x800')">
            <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
            <div style="height: 20rem"></div>
        </div>
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6 justify-content-center" style="text-align:center">
                        <h2 class="text-white">Успей приобрести билет!</h2>
                        <p class="lead text-white fs-2">@date.ToString("dd.MM.yyyy")</p>
                        <p class="mb-0 text-white fs-3">Проведи вечер с комфортом.</p>
                        <label></label>
                    <button class="btn btn-outline-light fw-bold border-3 m-2" type="button" @onclick="BuyTicket">Купить</button>
                    </div>

                <label></label>
                @if (check)
                {
<div class="container p-0 bg-dark" style="margin-top:50px; border-radius:40px">
        <div class="card px-4 bg-dark border-3" style="border-radius:40px">
            <p class="h4 py-3 text-white fw-bold">Детали оплаты</p>
            <div class="row gx-3">
                <div class="col-12">
                    <div class="d-flex flex-column">
                        <p class="text mb-1 text-white fw-bold">Фамилия Имя</p>
                        <input class="form-control mb-3 text-black fw-bold" @bind-value="Name" type="text" placeholder="Петров Иван">
                    </div>
                </div>
                <div class="col-12">
                    <div class="d-flex flex-column">
                        <p class="text mb-1 text-white fw-bold">Номер карты</p>
                        <input class="form-control mb-3 text-black fw-bold" @bind-value="NumberCard" type="text" placeholder="1234 5678 435678">
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex flex-column">
                        <p class="text mb-1 text-white fw-bold">Срок</p>
                        <input class="form-control mb-3 text-black fw-bold" @bind-value="Date" type="text" placeholder="ММ/YYYY">
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex flex-column">
                        <p class="text mb-1 text-white fw-bold">Код</p>
                        <input maxlength="3" class="form-control mb-3 pt-2 text-black fw-bold" @bind-value="CVV" type="password" placeholder="***">
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-outline-light mb-3 fw-bold" @onclick="AcceptBuy">
                        Оплатить ₽1299
                    </button>
                </div>
            </div>
            @if (message is not null)
            {
                <blockquote style="color:white; text-align:center;  top:100px; line-height: 4; font-size:30px" class="fw-bold">
                    <strong>@message</strong>
                </blockquote>
            }
        </div>
    </div>
                }
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="text-center text-white bg-dark">
        <!-- Grid container -->
        <div class="container pt-4">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-link btn-floating btn-lg text-white m-1"
                   href="#!"
                   role="button"
                   data-mdb-ripple-color="light">
                    <img src="Icons/free-icon-instagram-1384063.png" style="width:50px; height:50px"/>
                </a>

                <!-- Twitter -->
                <a class="btn btn-link btn-floating btn-lg text-white m-1"
                   href="#!"
                   role="button"
                   data-mdb-ripple-color="light">
                    <img src="Icons/twitter.png" style="width:50px; height:50px" />
                </a>

                <!-- Google -->
                <a class="btn btn-link btn-floating btn-lg text-white m-1"
                   href="#!"
                   role="button"
                   data-mdb-ripple-color="light">
                    <img src="Icons/free-icon-google-symbol-2875404.png" style="width:50px; height:50px" />
                </a>

                <!-- Instagram -->
                <a class="btn btn-link btn-floating btn-lg text-white m-1"
                   href="#!"
                   role="button"
                   data-mdb-ripple-color="light">
                    <img src="Icons/facebook.png" style="width:50px; height:50px" />
                </a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">CLUBOYSTER.com</a>
        </div>
        <!-- Copyright -->
    </footer>
</body>
</html>
@code {
    private DateTime date = DateTime.Now;

    private string? message;

    private User? user;

    private User? owner;

    private List<User>? users;

    private Transactions? transactions;

    private bool check = false;


    private string Name;
    private string NumberCard;
    private string Date;
    private string CVV;

    protected override async Task OnInitializedAsync()
    {
        owner = MongoDb.FindOwner();
        users = MongoDb.FindUsers().Where(x => x.GetType().Name == "User").ToList();
        user = userService.Get();
    }

    private void Logout()
    {
        navMan.NavigateTo("/");
        userService.Remove();
    }

    private void BuyTicket()
    {
        check = true;
    }

    private void AcceptBuy()
    {
        if (Name != null && NumberCard != null && Date != null && CVV != null)
        {
            transactions = new Transactions()
        {
            Type = "Доход",
            Time = date,
            User = user,
            Sum = 1299,
        };

            owner = new Owner()
        {
            FirstName = owner.FirstName,
            SecondName = owner.SecondName,
            Surname = owner.Surname,
            Phone = owner.Phone,
            Email = owner.Email,
            Login = owner.Login,
            Password = owner.Password,
            TotalEarning = transactions.Sum.Value + (owner as Owner).TotalEarning,
            AverageMonth = transactions.Sum.Value + (owner as Owner).AverageMonth,
            TotalCustomers = (owner as Owner).TotalCustomers,
        };
            MongoDb.ReplaceOwner(owner);
            MongoDb.AddTransaction(transactions);

            message = "Покупка обрабатывается...";
        }

        else
        {
            message = "Заполните поля данными";
        }

    }
}
