@page "/main"
@using CLUBOYSTER.Data;
@using CLUBOYSTER.Shared.MyComponents
@using ChartJs.Blazor.PieChart

<h2 style="color:white; margin-bottom:1.5rem; text-align:center" class="fw-bold">Общая сводка</h2>

<div class="container-fluid">
    <div class="row" style="flex-wrap:wrap; display:flex;margin-right: -15px;
    margin-left: -15px;">
        <div class="row" style="justify-content:center;">
                <div class="col-lg-6 col-xl-3 mb-4 ">
                    <TotalEarning />
                </div>
                <div class="col-lg-6 col-xl-3 mb-4">
                <AverageMonth />
                </div>
                <div class="col-lg-6 col-xl-3 mb-4">
                <TotalCustomers />
                </div>
            </div>

        <div class="row" style="justify-content:center">
        <div class="col-lg-6 mb-2">
<div class="card shadow">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h6 class="text-secondary font-weight-bold m-0 text-black">Доходы и Расходы</h6>
    </div>
    <div class="card-body">
        <Chart Config="_config"></Chart>
        <div class="chart-area" style="display:none"><canvas id="chartCustomers"></canvas></div>
    </div>
</div>
        </div>
    </div>
    </div>
</div>


@code {

    private PieConfig? _config;

    private User? owner;

    private float? doxod = 0;

    private float? rasxod = 0;

    private List<Transactions>? transactions;

    protected override async Task OnInitializedAsync()
    {
        transactions = MongoDb.FindOperations();

        foreach(var item in transactions)
        {
            if (item.Type == "Доход")
            {
                doxod += item.Sum;
            }
            else
            {
                rasxod += item.Sum;
            }
        }
        owner = MongoDb.FindOwner();

        _config = new PieConfig
            {
                Options = new PieOptions
                {
                    Responsive = true,
                }
            };

        foreach (string color in new[] { "Доход", "Расходы"})
        {
            _config.Data.Labels.Add(color);
        }
            PieDataset<float> dataset = new PieDataset<float>(new[] { doxod.Value, rasxod.Value })
                {
                        BackgroundColor = new[]
                                {
                ColorUtil.ColorHexString(150, 240, 144), // Slice 1 aka "Red"
                ColorUtil.ColorHexString(128, 178, 232),

                    }
                };
            _config.Data.Datasets.Add(dataset);
        }
    }
