@page "/providers"
@using CLUBOYSTER.Data;

<PageTitle>Добавление поставщиков</PageTitle>

<EditForm Model="provider" style="height:auto; border-radius: 10px; padding-top:35px">
    <DataAnnotationsValidator />

    <h3 class="h3 fw-bold" style="line-height:1.4; margin-bottom:1.8rem">Добавить поставщика</h3>

    <InputText id="name" type="text" placeholder="Имя поставщика" class="fw-bold" @bind-Value="provider.FirstName"></InputText>
    <ValidationMessage For="() => provider.FirstName" />

    <InputText id="name" type="text" placeholder="Фамилия поставщика" class="fw-bold" @bind-Value="provider.SecondName"></InputText>
    <ValidationMessage For="() => provider.SecondName" />

    <InputText id="name" type="text" placeholder="Отчество поставщика" class="fw-bold" @bind-Value="provider.Surname"></InputText>
    <ValidationMessage For="() => provider.Surname" />

    <InputText id="name" type="text" placeholder="Номер телефона" class="fw-bold" maxlength="11" @bind-Value="provider.Phone"></InputText>
    <ValidationMessage For="() => provider.Phone" />

    <label class="fw-bold">Его поставки?</label>

    <select style="width:100%; height:40px" @bind="NameProduct" class="font-italic mb-2 fw-bold text-black bg-light" >
                    <option></option>
        @foreach (var item in products)
        {
            <option value="@item.Name" class="text-black fw-bold">@item.Name</option>
        }
    </select>
     <button type="button" style="height:40px; border-radius: 20px;" class="fw-bold" @onclick="AddProduct">Добавить поставку</button>

     <label></label>
     @if (check == true)
    {
        <strong class="fw-bold bg-dark text-white fs-4 text-center" style="align-content:center; margin-left:28px">Поставка добавлена!</strong>
    }
    <label></label>
    <label class="fw-bold">Договор оформлен?</label>

    <input type="checkbox" style="width:20px; height:20px" @bind="@isChecked"/>

    <button type="button" style="height:40px; border-radius: 20px;" class="fw-bold" @onclick="AddProvider">Создать</button>

</EditForm>

@code {
    private Providers provider = new Providers();

    private bool check = false;

    private List<Products> products = new List<Products>()
    {
        new Products() { ID = 1 ,Name="Коньяк", Sum = 15000 },
        new Products() { ID = 2 ,Name="Виски", Sum = 22000 },
        new Products() { ID = 3 ,Name="Пиво", Sum = 40000},
        new Products() { ID = 4 ,Name="Шампанское", Sum = 19999 },
        new Products() { ID = 5 ,Name="Закуски", Sum = 30000 },
    };

    private Products? activeProduct;

    private string NameProduct;

    private List<Products> activeProducts;

    private bool? isChecked = false;

    protected override async Task OnInitializedAsync()
    {
        activeProducts = new List<Products>();
    }

    private void AddProduct()
    {
        foreach(var item in products)
        {
            if (item.Name == NameProduct.ToString())
            {
                activeProducts.Add(item);
                check = true;
            }
        }
    }

    private void AddProvider()
    {
        provider = new Providers()
        {
            FirstName = provider.FirstName,
            SecondName = provider.SecondName,
            Surname = provider.Surname,
            Phone = provider.Phone,
            Document = isChecked,
            products = activeProducts,
        };

        MongoDb.AddProvider(provider);

        provider.FirstName = null;
        provider.SecondName = null;
        provider.Surname = null;
        provider.Phone = null;
        isChecked = false;
    }
}
