@inherits LayoutComponentBase
@using CLUBOYSTER.Data;
@inject IJSRuntime jsRun;
@inject NavigationManager navgiationMan;
@inject UserService userSer;

<PageTitle>CLUB OYSTER</PageTitle>

<div class="page">
        @if (userSer.Get() != null)
        {
            @if (userSer.Get().GetType().Name == "Owner" || userSer.Get().GetType().Name == "Employee")
            {

                navMen = "block";
                <div class="sidebar" style="display:@navMen" id="sidebar-id">
                    <NavMenu />
                </div>
            }
            else
            {
                navMen = "none";
            }

        }
        else
        {
            navMen = "none";
        }


    <main>
        @if (userSer.Get() != null)
        {
            if (userSer.Get().GetType().Name == "Owner" || userSer.Get().GetType().Name == "Employee")
            {
            mainLay = "flex";
            <div class="top-row px-4" style="display:@mainLay" id="top-row-id">
            <button type="button" class="btn btn-outline-light fw-bold" @onclick="Profile" data-mdb-ripple-color="light"
                                    style="width:200px; margin-right:20px; margin-top:3px">
                                Профиль
                            </button>
            <button type="button" class="btn btn-outline-light fw-bold" @onclick="Logout" data-mdb-ripple-color="light"
                    style="width:200px; margin-right:20px; margin-top:3px">
                Выйти
            </button>
            </div>
            }
            else
            {
                mainLay = "none";
            }
        }
        else
        {
            mainLay = "none";
        }
            <article class="content px-4">
            @Body
        </article>

    </main>
</div>

@code {
    private bool check = false;

    private string navMen = "none";

    private string mainLay = "none";

    private void Logout()
    {
        navgiationMan.NavigateTo("/");
        userSer.Remove();
    }

    private void Profile()
    {
        navgiationMan.NavigateTo("/profile");
    }
}
