@using CLUBOYSTER.Data;
@inject UserService userSer;

 <div class="top-row navbar navbar-dark" id="nav-bar-id" style="display:block">
    <div class="container-fluid" style="flex-wrap:initial; justify-content:center">
        <img src="css/Images/FinalLogo-transformed.png" style="width:70px; height:70px;"/>
        <a class="navbar-brand fw-bold">CLUB OYSTER</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu" id="nav-menu-id" style="display:block">
    @if (userSer.Get().GetType().Name == "Employee")
    {
        <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link fw-bold" href="/main" Match="NavLinkMatch.All">
                <span class="oi oi-home fw-bold" aria-hidden="true"></span>Сводка
            </NavLink>
        </div>
    </nav>
        <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link fw-bold" href="/reports" Match="NavLinkMatch.All">
                <span class="oi oi-document fw-bold" aria-hidden="true"></span>Отчёты
            </NavLink>
        </div>
    </nav>

        <nav class="flex-column" id="providers-id"  style="display:block">
        <div class="nav-item px-3">
            <NavLink class="nav-link fw-bold" href="/providerstable" Match="NavLinkMatch.All">
                <span class="oi oi-people fw-bold" aria-hidden="true"></span>Поставщики
            </NavLink>
        </div>
        </nav>
    }
    else if (userSer.Get().GetType().Name == "Owner")
    {
                <nav class="flex-column" id="ypravuser-id" style="display:block">
        <div class="nav-item px-3">
            <NavLink class="nav-link fw-bold" href="/ownerpanel" Match="NavLinkMatch.All">
                <span class="oi oi-person fw-bold" aria-hidden="true"></span>Пользователи
            </NavLink>
        </div>
    </nav>

    <nav class="flex-column" id="ypravemployee-id" style="display:block">
        <div class="nav-item px-3">
            <NavLink class="nav-link fw-bold" href="/ownerpanelemployee" Match="NavLinkMatch.All">
                <span class="oi oi-monitor fw-bold" aria-hidden="true"></span>Сотрудники
            </NavLink>
        </div>
    </nav>
    }
</div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
