@using CLUBOYSTER.Data;
<div class="card shadow border-left-warning bg-dark py-2">
    <div class="card-body bg-dark">
        <div class="row align-items-center no-gutters">
            <div class="col mr-2">
                <div class="text-uppercase text-white font-weight-bold text-xs mb-1 fw-bold"><span>Кол-во пользователей</span></div>
                <div class="text-white font-weight-bold h5 mb-0 fw-bold"><span>@((owner as Owner).TotalCustomers)</span></div>
            </div>
            <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
        </div>
    </div>
</div>

@code {
    private User? owner;

    protected override async Task OnInitializedAsync()
    {
        owner = MongoDb.FindOwner();
    }
}
